# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.OurAirlines.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Vlad_\RiderProjects\OurAirlines\.idea\.idea.OurAirlines\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
